.showimage{
  max-height: max-content;
  max-width: max-content;
}

.drawing-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 72em;
  margin: auto;
  filter: drop-shadow(0 1mm 1.2mm var(--shadow));
}

.drawing-info {
  width: 160px;
  background-color: var(--base-alt);
  border-right: solid 1px black;
  margin-right: 4px;
  border-radius: 8px 0 0 8px;
  padding: 4px;
}

.drawing-info > * {
  padding: 8px 4px;
  margin: 0
}

.drawing-box {
  display: flex;
  justify-content: center;
  min-width: 64em;
  margin: 2px;
}