.showimage{
  max-height: max-content;
  max-width: max-content;
}

.drawing-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  filter: drop-shadow(0 1mm 1.2mm var(--shadow));
}

.drawing-info {
  box-sizing: border-box;
  width: 220px;
  background-color: var(--base-alt);
  border-right: solid 1px black;
  margin-right: 4px;
  border-radius: 8px 0 0 8px;
  padding: 4px;
}

.drawing-info > * {
  padding: 8px 4px;
  margin: 0
}

.drawing-box {
  display: flex;
  position: relative;
  left: -112px;
}

@media ( max-aspect-ratio: 1/1 ) {
  .drawing-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  .drawing-info {
    width: 512px;
    border-radius: 8px 8px 0px 0px;
    margin-right: 0;
    margin-bottom: 4px;
    border-right: none;
    border-bottom: solid 1px black;
  }
}

@media ( max-aspect-ratio: 2/3 ) {
  .drawing-box, .drawing-info {
    width: 100vw;
  }
  .drawing-box > * {
    width: 100vw;
    max-width: none;
    max-height: none;
  }
}