a.artist-name, a.title {
  color: var(--base0);
  padding: .2em 1em
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 64em;
  margin: auto;
}

.thumbnail {
  background-color: var(--base01);
  border-radius: .6em;
  max-width: 17em;
  margin: 1em;
  font-size: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 1mm 1.2mm rgb(0, 0, 0, .4));
}

.thumb {
  max-height: 17em;
}

.thumb img {
  max-width: 100%;
}

.thumb-info {
  display: flex;
  flex-direction: column;
  margin-bottom: .4em;
  border-top: solid 1px var(--base0);
}

.thumb-date {
  padding: .2em 1em;
  margin: 0;
}

.artist-name {
  font-weight: 600;
}