.showimage{
  max-height: max-content;
  max-width: max-content;
  flex-shrink: 0;
}

.drawing-show {
  display: flex;
  flex-direction: column;
}

.user-info {
  max-width: 20%;
}

.drawing-box {
  display: flex;
  min-width: 800px;
}