a.artist-name, a.title {
  color: var(--base0);
  padding: 2px 8px
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 64em;
  margin: auto;
}

.thumbnail {
  border: solid 1px var(--base1);
  background-color: var(--base01);
  border-radius: .6em;
  margin: 1em;
  font-size: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.thumb {
  padding: 0;
  max-width: 17em;
}
.thumb img {
  max-width: 100%;
}

.drawing-info {
  display: flex;
  flex-direction: column;
}

.thumb-date {
  padding: 2px 8px;
}

.artist-name {
  font-weight: 600;
}