.comment {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 4px
}

.commenter-info {
  width: 160px;
  background-color: var(--base01);
  border-right: solid 1px black;
  margin-right: 4px;
  border-radius: 8px 0 0 8px;
  padding: 8px 4px;
}

.commenter-info > * {
  padding: 8px 4px;
  
}

