.comment {
  display: flex;
  justify-content: center;
  min-width: 64em;
  flex-direction: row;
  margin: 2px
}

.commenter-info {
  width: 12em;
  background-color: var(--base01);
  border-right: solid 1px black;
  margin-right: 4px;
  border-radius: .6em 0 0 .6em;
  padding: .8em
}

