#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  background-color: var(--shadow);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-content {
  background-color: var(--base-alt);
  position: absolute;
  border-radius: 4px;
}