nav {
  background-color: var(--nav);
  height: 12mm;
  color: var(--nav-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .2em;
}

.nav-link {
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 18px;
  min-width: 128px;
}

.nav-link:hover {
  background-color: var(--highlight);
}

.usermenu {
  display: none;
  background-color: var(--nav);
  position: absolute;
  top: 12mm;
  width: inherit;
  min-width: 24mm
}

.dropdown:hover .usermenu {
  display: block;
  z-index: 100;
}

.usermenu > * {
  display: block;
  width: inherit;
  min-width: 128px
}

.guestmenu {
  display: flex;
  align-items: center;
}

.github-icon {
  max-height: 8mm;
}