#workspace {
  display: flex;
  flex-direction: column;
}
#canvas-wrapper > canvas {
  position: absolute;
  margin: auto;
}

.toolbox{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 100%;
  min-width: 256px;
  background-color: var(--base-alt);
}
.toolbar {
  width: 100%;
}
.tools {
  display: flex;
  max-width: 512px;
}
.tool-editor {
  margin: 8px 0px;
  width: 100%;
}
.toolbox-editor {
  display: flex;
  flex-wrap: wrap;
}
.square-button {
  display: flex;
  background-color: none;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
.square-button:hover{
  width: 68px;
  height: 68px;
  margin: -2px;
  z-index: 10;
}

.toolbox-editor > .toolbox > .square-button {
  position: relative;
}

.sliders {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0px;
}
.slider-box, .color-slider-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 4px;
}

.slider-box > label {
  position: absolute;
  right: 20px;
  max-width: var(--slider-width);
}
.slider-box > label > input {
  max-width: inherit;
  background-color: transparent;
  border: none;
}
.color-slider-box div:last-child {
  border-radius: 0px var(--slider-width) var(--slider-width) 0px;
}
.color-slider-box div:first-child {
  border-radius: var(--slider-width) 0px 0px var(--slider-width);
}
.slider-box div:last-child {
  border-radius: 0px var(--slider-width) var(--slider-width) 0px;
}
.slider-box div:first-child {
  border-radius: var(--slider-width) 0px 0px var(--slider-width);
}

.slider-name, .slider-num {
  position: absolute;
  top: 2px;
  color: black;
  padding: 2px 4px;
}

.slider-name {
  left: 0;
  pointer-events: none;
}
.slider-num {
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.brush-sample, .color-sample {
  position: absolute;
  z-index: -10;
}
.brush-sample > canvas{
  position: relative;
  top: -192px;
  z-index: -10;
}
.brush-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brush-preview {
  background-color: transparent;
}
.brush-size{
  position: absolute;
  color: white;
  z-index: 200;
}
.preview-spacer {
  height: 100px;
}

.color-slider-box > input[type=range] {
  height: 6px;
  border-radius: 2px;
}
.color-slider-box > input[type=range]::-webkit-slider-thumb {
  background: var(--active-color);
}
.color-slider-box > input[type=range]::-moz-range-thumb {
  background: var(--active-color);
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 512px;
  margin: 24px 0px;
}
.toolbar {
  width: 100%;
}

@media ( min-aspect-ratio: 1/1 ) {
  #paint-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .toolbox {
    max-width: 256px;
  }
  #paint-container > .toolbox:first-child {
    margin-right: 4px;
    border-radius: 0 0 8px 8px;
    border-right: solid 1px black;
  }
  #paint-container > .toolbox:last-child {
    margin-left: 4px;
    border-radius: 0 8px 8px 8px;
    border-left: solid 1px black;
  }

  #canvas-wrapper > canvas {
    position: absolute;
    margin: auto;
  }
  .brush-sample > canvas{
    top: -128px;
    left: -128px;
    scale: 0.5;
  }
  .brush-sample {
    display: block;
    position: relative;
    width: 256px;
    height: 256px;
    z-index: 0;
  }
}