.toolbox{
  display: flex;
  max-width: 512px;
  min-height: 44px;
}
.square-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.square-button:hover{
  width: 44px;
  height: 44px;
  margin: -2px;
  z-index: 10;
}
.icon {
  width: 32px;
  height: 32px;
}