.toolbox-editor {
  width: 600px;
}

.swatchbox{
  max-width: 48em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.swatchbox > input {
  border-radius: 0;
  border: none;
  max-width: 8em;
  height: 3em;
  font-size: 12pt;
  text-align: bottom;
}

.brushbox{
  max-width: 48em;
  display: flex;
  flex-wrap: wrap;
}

.brushbox > input {
  max-width: 4em;
  margin: .1em;
  font-size: 12pt;
}
