.user-page {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  justify-content: center;
}

.user-bio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}