
:root {
  --base: #c6c6c6;
  --base-alt: #efefef;
  --base-text: #000;
  
  --accent: #3f3f3f;
  --accent-alt: #000000;
  --accent-text: #fff;

  --error: #fee7df;
  --error-text:  darkred;

  --highlight: #00b0c4;
  --shadow: rgba(0, 0, 0, .4);

  --active-color: black;
}