/* TODO Add site wide styles */
body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 20px;
  margin: 0;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  display: block;
  width: 80%;
  margin: 12px auto;
  padding: 8px 12px;
}

input {
  border-radius: 4px;
  border: 1px solid var(--base1);
  box-shadow: inset 2px 2px 4px var(--base1);
}

li {
  list-style-type: none;
}