#palette, #brushes {
  margin: 4px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

button.swatch {
  height: 40px;
  width: 40px;
  margin: 0;
  border: none;
}

button.swatch:hover {
  border: none;
  width: 48px;
  height: 48px;
  margin: -4px;
}

button.brush:hover {
  min-width: 44px;
  min-height: 44px;
  margin: -2px;
}

.comment-canvas {
  width: 840px;
  margin: 2px
}

.toolboxes {
  width: 160px;
  margin-right: 4px;
  margin-right: 4px;
  border-right: solid 1px black;
  padding-right: 6px;
}

.toolboxes > button {
  font-size: 19px;
}

.painter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 2px;
}

.comment-painter {
  position: relative;
  left: 67px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2px;
}

.comment-form {
  position: relative;
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 256px;
  margin: auto
}