#palette, #brushes {
  margin: .6em 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

button.swatch {
  height: 40px;
  width: 40px;
  margin: 0;
  border: none;
}

button.swatch:hover {
  border: none;
  width: 48px;
  height: 48px;
  margin: -4px;
}

button.brush:hover {
  min-width: 44px;
  min-height: 44px;
  margin: -2px;
}

.comment-canvas {
  width: 64em;
  margin: 2px
}

.toolboxes {
  width: 12em;
  margin-right: 4px;
  margin-right: 4px;
  border-right: solid 1px black;
  padding: .8em
}

.painter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2px;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 52em
}